@import "../../../theme.css";

:root {
  --header-bg: var(--main-color);
  --header-text: var(--text-color);
}

.spell-container {
  margin: 0 0 0.5em;
}

.spell-header {
  display: flex;
  justify-content: space-between;
  /* border-radius: .5em .5em 0 0; */
  background: var(--header-bg);
  color: var(--header-text);
  cursor: pointer;
}

.spell-header ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.spell-header ul li {
  padding: 1em 0;
}

.spell-header ul li.spell-header-level {
  width: 7em;
  text-align: center;
}

.spell-header .toggle {
  justify-content: flex-end;
  width: 7em;
  padding: 1em 0;
  text-align: center;
}

.spell-desc {
  padding: 1em;
}

p {
  margin: 0;
}

p.type {
  margin: 0 0 1em;
  font-style: italic;
}

.main {
  margin: 0;
}

.descriptor {
  font-weight: bold;
}

.hidden {
  display: none;
}
