@import "../../../theme.css";

:root {
  --header-bg: var(--main-color);
  --header-text: var(--text-color);
}

.spell-container {
  margin: 0 0 0.5em;
}

.spell-header {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  color: var(--header-text);
  cursor: pointer;
}

.spell-header ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.spell-header ul li {
  padding: 1em 0;
}

.spell-header ul li.spell-header-level {
  width: 112px;
  text-align: center;
}

.spell-header ul li.spell-header-name {
  width: calc(100% - 224px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.spell-header ul li.toggle {
  width: 112px;
  margin-left: auto;
  text-align: center;
}

.spell-desc {
  padding: 1em;
}

p {
  margin: 0;
}

p.type {
  margin: 0 0 1em;
  font-style: italic;
}

.main {
  margin: 0;
}

.descriptor {
  font-weight: bold;
}

.hidden {
  display: none;
}
