@import "../../../theme.css";

:root {
  --form-button: var(--main-color);
  --form-button-text: var(--text-color);
}

.spell-form {
  width: 100%;
}

.spell-form p.spell-show-filter {
  margin: 1em 0;
  text-align: center;
}

.spell-form p.spell-show-filter:hover {
  color: var(--main-color);
  cursor: pointer;
}

.spell-form input {
  width: stretch;
  margin: 0;
  padding: .9em 1em;
}

.disable-filter {
  display: none;
}
