@import "../../../../theme.css";

form.adv-filter .check-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

form.adv-filter .check-filter div {
  margin: 0.5em 0.5em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form.adv-filter .check-filter div.active {
  background: var(--secondary-color);
  color: var(--text-color);
}

form.adv-filter button {
  background: var(--form-button);
  color: var(--form-button-text);
  border: none;
  cursor: pointer;
  padding: 1em 2em;
  margin: 1em 0;
  width: 100%;
}

